
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h5>Debe crear archivos de formato .json en C con formato "data + "tipo De Dato Seleccionado" "</h5>

<button type="button" onclick="location.href ='@Url.Action("IntTree", "Tree")'">Int Tree</button>
<button type="button" onclick="location.href ='@Url.Action("PaisTree", "Tree")'">Pais Tree</button>
<button type="button" onclick="location.href ='@Url.Action("StringTree", "Tree")'">String Tree</button>