
@{
    ViewBag.Title = "IntTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IntTree</h2>
<textarea>@TempData["Tree"]</textarea>

<h5>Arbol Degenerado: @TempData["EsDegenerado"]</h5>
<h5>Arbol Balanceado: @TempData["EsLleno"]</h5>