
@{
    ViewBag.Title = "EliminarUsuario";
}

<h2>EliminarUsuario</h2>

<h5>En esta ventana podra el usuario eliminar la pelicula o documental de su watchlist: Se define por uno o dos criterios.</h5>


<br />

<h5>Primer Criterio:   </h5>
<select name="PrimerC" size="2">

    <option>Nombre</option>

    <option>Año</option>

    <option>Genero</option>

</select>

<pre style='display:inline'>    </pre>   <input type="text" value="" id="texto1" />

<h5>Segundo Criterio:   </h5>

<select name="SegundoC" size="2">

    <option>Nombre</option>

    <option>Año</option>

    <option>Genero</option>

</select>

<pre style='display:inline'>    </pre>   <input type="text" value="" id="texto2" />

<button type="submit">Enviar</button>
<br />
<hr />