
@{
    ViewBag.Title = "IngresoManual";
}

<h2>IngresoManual</h2>

<pre style='display:inline'>Nombre:</pre>   <input type="text" value="" id="texto1" /> 
<br />
<hr />
<pre style='display:inline'>Año de Lanzamiento:</pre>   <input type="text" value="" id="texto1" /> 
<br />
<hr />
<pre style='display:inline'>Genero:</pre>   <input type="text" value="" id="texto1" /> 
<br />
<hr />
<pre style='display:inline'>Tipo:</pre>   <input type="text" value="" id="texto1" /> 
<br />
<hr />

<button type="button" id="ingresar" value="ingresar" name="ingresar">INGRESAR</button>
<br />
<hr />


<button type="button" onclick="location.href = '@Url.Action("Admin", "Account")'">Back</button>
<br />
<hr />
