
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button type="button" onclick="location.href = '@Url.Action("Upload", "Dictionary")'">Upload Stamps Collection</button>
<button type="button" onclick="location.href = '@Url.Action("UploadC", "Dictionary")'">Upload Stamps Checking</button>