
@{
    ViewBag.Title = "NewStringNode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewStringNode</h2>


@using (Html.BeginForm("Index", "StringTree"))
{
    <form id="form1" runat="server">
        NewString: 
        <input type="text" id="newNode" runat="server" value="" />
        <br />
        <asp:Button Text="Submit" runat="server" OnClick="Submit" />
    </form>
}