@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Index", "ArbolPais", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload" />
    <br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
    @Html.Label(TempData["uploadResult"].ToString())
}